@import url('https://fonts.googleapis.com/css2?family=Goldman&family=League+Gothic&family=Stick+No+Bills:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Gothic&display=swap');

* {
    margin: 0;
    padding: 0;
}

.sidebar {
    background-color: rgb(201, 190, 190);
    width: 135px;
    height: 100pc;
}

.main {
    /*background-color: yellow;*/
    width: 90vw;
    height: 100vh;
}

.container {
    display: flex;
}

.sidebar nav {
    padding: 24px;
}

.sidebar nav li {
    list-style: none;
    font-size: 15px;
    padding: 32px 0px;
    

}
.sidebar nav li a {
text-decoration: none;
color: black;
}
.buttons button {
    margin:25px 5px;
    padding:5px;
    border-radius: 25px;
    background-color: dodgerblue;
    color:antiquewhite;
    font-size: 15px;
    font-weight: bold;
   }
.buttons button:hover{
    color: dodgerblue;
   background-color:antiquewhite;
   cursor:pointer;
}

.blogitem {
margin: 20px;
font-family: 'League Gothic', sans-serif;
}
.blogcontainer h1 {
    font-family: 'League Gothic', sans-serif;
    margin: 23px;
}
.blogitem p {
    font-family: 'Goldman', cursive;
}